Repository meilisearch/meilisearch, pull requests merged in 2019-11, with the labels that each got.

#264 Index soft deletion
  meilidb-core/src/database.rs
  meilidb-core/src/store/main.rs
  meilidb-core/src/store/mod.rs
  meilidb-core/src/store/synonyms.rs
  meilidb-core/src/store/updates.rs
  meilidb-core/src/store/updates_results.rs
  meilidb-core/src/update/documents_addition.rs
  meilidb-core/src/update/documents_deletion.rs
  meilidb-core/src/update/stop_words_addition.rs
  meilidb-core/src/update/stop_words_deletion.rs
  meilidb-core/src/update/synonyms_addition.rs
  meilidb-core/src/update/synonyms_deletion.rs
  meilidb-http/src/routes/document.rs
  meilidb-http/src/routes/index.rs
  meilidb-http/src/routes/mod.rs
Labels: enhancement, meilidb-core

#313 Fix dead locks when deleting indexes
  meilidb-core/src/database.rs
Labels: bug, meilidb-core, meilidb-http

#314 Fix the ordering functions of the Number type
  meilidb-core/src/database.rs
  meilidb-core/src/number.rs
Labels: bug, enhancement, meilidb-core, meilidb-http

#340 Separate the update and main databases
  Cargo.lock
  meilisearch-core/Cargo.toml
  meilisearch-core/examples/from_file.rs
  meilisearch-core/src/automaton/mod.rs
  meilisearch-core/src/database.rs
  meilisearch-core/src/lib.rs
  meilisearch-core/src/query_builder.rs
  meilisearch-core/src/serde/deserializer.rs
  meilisearch-core/src/serde/serializer.rs
  meilisearch-core/src/store/docs_words.rs
  meilisearch-core/src/store/documents_fields.rs
  meilisearch-core/src/store/documents_fields_counts.rs
  meilisearch-core/src/store/main.rs
  meilisearch-core/src/store/mod.rs
  meilisearch-core/src/store/postings_lists.rs
  meilisearch-core/src/store/synonyms.rs
  meilisearch-core/src/store/updates.rs
  meilisearch-core/src/store/updates_results.rs
  meilisearch-core/src/update/clear_all.rs
  meilisearch-core/src/update/customs_update.rs
  meilisearch-core/src/update/documents_addition.rs
  meilisearch-core/src/update/documents_deletion.rs
  meilisearch-core/src/update/mod.rs
  meilisearch-core/src/update/schema_update.rs
  meilisearch-core/src/update/stop_words_addition.rs
  meilisearch-core/src/update/stop_words_deletion.rs
  meilisearch-core/src/update/synonyms_addition.rs
  meilisearch-core/src/update/synonyms_deletion.rs
  meilisearch-http/Cargo.toml
  meilisearch-http/src/data.rs
  meilisearch-http/src/helpers/meilisearch.rs
  meilisearch-http/src/helpers/tide.rs
  meilisearch-http/src/routes/document.rs
  meilisearch-http/src/routes/health.rs
  meilisearch-http/src/routes/index.rs
  meilisearch-http/src/routes/key.rs
  meilisearch-http/src/routes/search.rs
  meilisearch-http/src/routes/setting.rs
  meilisearch-http/src/routes/stats.rs
  meilisearch-http/src/routes/stop_words.rs
  meilisearch-http/src/routes/synonym.rs
Labels: meilidb-core, meilidb-http, performance

#347 Add script for binary installation
  download-latest.sh
Labels: enhancement

#351 Add status failed on UpdateStatus
  meilisearch-core/src/database.rs
  meilisearch-core/src/update/mod.rs
Labels: enhancement, meilidb-http
