Repository meilisearch/meilisearch, pull requests merged in 2023-03, with the labels that each got.

#3567 Clean CI file names
  .github/workflows/benchmarks-manual.yml
  .github/workflows/benchmarks-push-indexing.yml
  .github/workflows/benchmarks-push-search-geo.yml
  .github/workflows/benchmarks-push-search-songs.yml
  .github/workflows/benchmarks-push-search-wiki.yml
  .github/workflows/create-issue-dependencies.yml
  .github/workflows/dependency-issue.yml
  .github/workflows/flaky-tests.yml
  .github/workflows/publish-apt-brew-pkg.yml
  .github/workflows/publish-binaries.yml
  .github/workflows/publish-docker-images.yml
  .github/workflows/test-suite.yml
Labels: maintenance, github actions

#3587 Enable cache again in test suite CI
  .github/workflows/test-suite.yml
Labels: maintenance, github actions

#3576 Add boolean support for csv documents
  meilisearch/tests/documents/add_documents.rs
  milli/src/documents/builder.rs
  milli/src/documents/mod.rs
Labels: enhancement

#3608 In a settings update, check to see if the primary key actually changes before erroring out
  milli/src/update/settings.rs
Labels: milli

#3621 Fix facet normalization
  meilisearch/tests/search/formatted.rs
  meilisearch/tests/search/mod.rs
  meilisearch/tests/search/multi.rs
  milli/src/lib.rs
  milli/src/search/facet/filter.rs
  milli/src/update/index_documents/extract/extract_fid_docid_facet_values.rs
Labels: bug

#3623 Update mini-dashboard to version v0.2.7
  meilisearch/Cargo.toml
Labels: tooling
